name: Build Typescript NestJS Main
on:
  push:
    branches:
      - main
    paths:
      - ".github/actions/bump-and-push-version/action.yml"
      - "package.json"
      - "package-lock.json"
      - "tsconfig.json"
      - "packages/ts-nestjs/**"
      - ".github/workflows/packages-ts-nestjs-main.yml"

concurrency:
  group: ts-nestjs-build
  cancel-in-progress: true

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: ".nvmrc"

      - name: Cache npm dependencies
        uses: actions/cache@v4
        id: npm_cache
        with:
          path: |
            node_modules
          key: ${{ runner.os }}-npm-main-${{ hashFiles('package-lock.json') }}

      - if: ${{ steps.npm_cache.outputs.cache-hit != 'true' }}
        name: Install dependencies
        run: npm run setup

      - name: Build all packages
        run: npm run build

      - name: Test ts-nestjs
        working-directory: packages/ts-nestjs
        run: npm run test:coverage

      - name: Bump and push version
        id: bump-version
        uses: ./.github/actions/bump-and-push-version
        with:
          package-directory: packages/ts-nestjs
          package-name: "@jsfsi-core/ts-nestjs"
          branch: main

      - name: Publish to npm
        run: |
          npm config set //registry.npmjs.org/:_authToken ${{ secrets.NPM_TOKEN }}
          cd packages/ts-nestjs
          npm publish --access public
