name: Build Template Rest API Main
on:
  push:
    branches:
      - main
    paths:
      - "package.json"
      - "package-lock.json"
      - "tsconfig.json"
      - "packages/template-rest-api/**"
      - ".github/workflows/packages-template-rest-api-main.yml"

concurrency:
  group: template-rest-api-build
  cancel-in-progress: true

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: ".nvmrc"

      - name: Cache npm dependencies
        uses: actions/cache@v4
        id: npm_cache
        with:
          path: |
            node_modules
          key: ${{ runner.os }}-npm-main-${{ hashFiles('package-lock.json') }}

      - if: ${{ steps.npm_cache.outputs.cache-hit != 'true' }}
        name: Install dependencies
        run: npm run setup

      - name: Build
        run: npm run build

      - name: Test template-rest-api
        working-directory: packages/template-rest-api
        run: npm run test:coverage
